body{
  margin: 0px;
  overflow: hidden;
  background-color:#111111;
}

#globalContainer{
}

#audio-file{
  display: none;
}

.button {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  bottom: 2%;
  width: 2em;
  height: 2em;
  margin-left: -1em;
  border-radius: 50%;
  border: 0em;
  background-color: #ff5e89;
  color: #EEEEEE;
  cursor: pointer;
  text-align: center;
  font-family:helvetica;
  font-weight: bold;
  font-size: 2em;
}
