body{
  margin: 0px;
  overflow: hidden;
  background-color:#111111;
}

#globalContainer{
}

#audio-file{
  display: none;
}

.button {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  bottom: 2%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: -25px;
  border-radius: 50%;
  border: 0em;
  background-color: #ff5e89;
  color: #EEEEEE;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-family:helvetica;
  font-weight: bold;
  font-size: 40px;
}

.button span{
  position: absolute;
  top: -3px;
  left: 14px;
}

.button img{
  padding-top: 10px;
}

#slidecontainer {
  position: absolute;
  width: 100%;
  top: 2%;
  /* display: none; */
}

.slider {
  position: absolute;
  -webkit-appearance: none;
  width: 15%;
  height: 7px;
  border-radius: 5px;
  background: #AAEEFF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  /*transition: opacity .2s;*/
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff5e89;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff5e89;
  cursor: pointer;
}

.sliderLabel{
  top: 10px;
  position:absolute;
  text-align: center;
  vertical-align: middle;
  font-family:helvetica;
  font-weight: bold;
  font-size: 20px;
  color:#00CCFF;
}

.instructionLabel{
  line-height: 2px;
  padding: 10px;
  /* border-radius: 20%; */
  position:absolute;
  text-align: left;
  /* vertical-align: middle; */
  font-family:helvetica;
  font-weight: bold;
  font-size: 14px;
  bottom: 10%;
  left: 17.5%;
  display:none;
  color: #FFFFFF;
  background-color: #00CCFF;
  opacity: 0.6;
}
