body{
  margin: 0px;
  overflow: hidden;
  background-color:#111111;
  height: 100%;
  width: 100%;
  position: fixed;
}

#globalContainer{
}

#audio-file{
  display: none;
}

.button {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  bottom: 2%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-left: -25px;
  border-radius: 50%;
  border: 0em;
  background-color: #ff5e89;
  color: #EEEEEE;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-family:helvetica;
  font-weight: bold;
  font-size: 40px;
}

.button span{
  position: absolute;
  top: -3px;
  left: 14px;
}

.button img{
  padding-top: 10px;
}

#sliderArray {
  position: absolute;
  width: 100%;
  top: 50px;
  padding: 10px;
}

.sliderContainer{
  transform: rotate(-90deg);
  position: absolute;
}

.slider {
  -webkit-appearance: none;
  width: 110px;
  height: 10px;
  border-radius: 5px;
  background: #AAEEFF;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  z-index: 1;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff5e89;
  border-color: #ff5e89;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff5e89;
  border-color: #ff5e89;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

.sliderLabel{
  top: -20px;
  position:absolute;
  font-family:helvetica;
  font-weight: bold;
  font-size: 16px;
  color:#00CCFF;
  z-index: -1;
}

.buttonLabel{
  bottom: 8%;
  text-align: center;
  position:absolute;
  font-family:helvetica;
  font-weight: bold;
  font-size: 16px;
  color:#ff5e89;
  z-index: 1;
}

.instructionLabel{
  line-height: 2px;
  padding: 10px;
  /* border-radius: 20%; */
  position:absolute;
  text-align: center;
  /* vertical-align: middle; */
  font-family:helvetica;
  font-weight: bold;
  font-size: 14px;
  bottom: 10%;
  left: 12%;
  display:none;
  color: #FFFFFF;
  background-color: #00CCFF;
  opacity: 0.6;
}
